NODE_ENV=development
PASSPORT_HOST=127.0.0.1
PASSPORT_PORT=7317

PASSPORT_SESSION_SECRET=
PASSPORT_DATA_KEY=

PASSPORT_COOKIE_SECURE=false
PASSPORT_DB_PATH=./data/passport.sqlite
PASSPORT_STATIC_DIR=./public
PASSPORT_LOCAL_AUTH_BYPASS=false
